<div class='wrapper' >
  <article class='head'>
    <h1 class='name'>
      {{node.name || 'Unknown'}}
    </h1>
    <div class='toolbar'>
      <status [loading]=node.loading [online]=node.online></status>
      <button class='expander' [ngClass]="{'expanded': expanded}" (click)='handleToogleExpand(node)'></button>
    </div>
  </article>
  <div class='body'>
    <span class='url'>
      {{node.url}}
    </span>
  </div>
  <div class='blocks-wrapper' *ngIf="expanded">
      <div *ngIf="!blocks;else blockTemplate"> There are not blocks to show</div>
      <ng-template #blockTemplate>
        <div *ngFor="let block of blocks">
          <p>{{block.attributes.index}}</p>
          <p>{{block.attributes.data}}</p>
        </div>
      </ng-template>
  </div>
</div>
