@import "../../assets/stylesheets/base/colors";

.wrapper {
  border-radius: 2px;
  padding: 0 4px;
  font-size: 12px;
  font-weight: 500;
  min-width: 38px;
  text-align: center;

  &.success {
    border: 2px solid $success-color;
    color: $success-color;
  }

  &.danger {
    border: 2px solid $danger-color;
    color: $danger-color;
  }

  &.warning {
    border: 2px solid $warning-color;
    color: $warning-color;
  }
}
